# Server
NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb://mmurunwa777:Tyler77%2A@ac-oozia03-shard-00-00.gtka1af.mongodb.net:27017,ac-oozia03-shard-00-01.gtka1af.mongodb.net:27017,ac-oozia03-shard-00-02.gtka1af.mongodb.net:27017/deskflow?ssl=true&replicaSet=atlas-nt1rfm-shard-0&authSource=admin&retryWrites=true&w=majority

# JWT
JWT_SECRET=replace_with_a_long_random_secret_string
JWT_EXPIRES_IN=8h

# CORS
CLIENT_ORIGIN=http://localhost:5173
